<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="span2">Created by:</div>
                <div class="span9"><a href="http://twitter.com/safeeronline" target="_blank">{{author}}</a></div>
            </div>
            <br />
            <div class="row">
                <div class="span2">Blog:</div>
                <div class="span9"><a href="http://safeeronline.wordpress.com" target="_blank">TechLog</a></div>
            </div>
            <br />
            <div class="row">
                <div class="span2">GitHub:</div>
                <div class="span9"><a href="https://github.com/safeer-in" target="_blank">https://github.com/safeer-in</a></div>
            </div>            
        </div>
    </div>
</div>


